<h3>Personal</h3>
<span class="col-md-2">
  <p class="label-font">Email:</p>
</span>
<span class="col-md-10">
  <p class="label-font"><b><%= current_user.email %></b></p>
</span>

<span class="col-md-2">
  <p class="label-font">Password:</p>
</span>
<span class="col-md-10">
  <p class="label-font"><b><%= fake_masked_password %></b></p>
</span>
<span class="col-md-10 col-md-offset-2">
  <p class="label-font"><b>
    <%= link_to "Change password (coming soon)",
      profile_user_path %>
  </b></p>
</span>
