<div class="text-center"><h1>Profile</h1></div>

<div class="col-md-6 col-md-offset-3">
  <%= render 'personal_information' %>
</div>

<div class="col-md-6 col-md-offset-3">
  <%= render 'payment_methods' %>
</div>

<div class="col-md-6 col-md-offset-3">
  <%= render 'categories' %>
</div>
