// Sub navbar styles

$nav-link-color: #777;
$focus-nav-link-color: #5e5e5e;
$active-nav-link-color: #337ab7;
.sub-navbar {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;

  a {
    color: $nav-link-color;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      border-bottom: 2px solid $nav-link-color;
      color: $focus-nav-link-color;
      font-weight: 1000;
    }
  }
}

.sub-nav-link {
  font-size: 18px;
  padding-bottom: 5px;

  &.active {
    text-decoration: none;
    color: $active-nav-link-color;
    font-weight: bold;
  }
}
