<div class="col-md-12 sub-navbar">
  <span class="col-md-1 col-md-offset-5">
    <%= sub_nav_link("Current", dashboards_current_path) %>
  </span>
  <span class="col-md-1">
    <%= sub_nav_link("Trends", dashboards_trends_path) %>
  </span>
</div>
