<div class="col-md-12 sub-navbar">
  <span class="col-md-1 col-md-offset-5">
    <%= navbar_link_to "Current", dashboards_current_path %>
  </span>
  <span class="col-md-1">
    <%= navbar_link_to "Trends", dashboards_trends_path %>
  </span>
</div>
