<div class="text-center">
  <%= fa_icon("exclamation-triangle", class: "fa-5x") %>
  <h1>(500)</h1>
  <h1>Honestly, this is embarassing!</h1>
  <h1>We have been notified and promise to fix this!</h1>
  <h3>If you have any more question, feel free to <%= mail_me %></h3>
  <h4><a href="javascript:history.back();">Go Back</a></h4>
</div>
