<div class="text-center">
  <%= fa_icon("exclamation-triangle", class: "fa-5x") %>
  <h1>(404)</h1>
  <h1>Oops! Looks like you landed in a place which does not exist!</h1>
  <h2>Please verify the URL you typed!</h2>
  <h3>If you think this is a mistake, please <%= mail_me %></h3>
  <h4><a href="javascript:history.back();">Go Back</a></h4>
</div>
