<div class="col-md-4 col-md-offset-1">
  <h1 class="text-center">Last week's expense</h1>
  <%= render partial: 'weekly_summary' %>
</div>

<div class="col-md-5 col-md-offset-1">
<h1 class="text-center">By Payment Method</h1>
  <%= render partial: 'by_payment_method' %>
</div>
