<h1 class="text-center">Weekly Summary</h1>
<div class="col-md-6 col-md-offset-3">
  <%= render partial: 'weekly_summary' %>
</div>

<h1 class="col-md-6 col-md-offset-3 text-center">By Payment Method</h1>
<div class="col-md-6 col-md-offset-3">
  <%= render partial: 'by_payment_method' %>
</div>
