<h1 class="text-center">
  Introducing Trends.
</h1>

<h3 class="text-center">
  A way to track your spending trends over time.
</h3>

<h3 class="text-center">
  Coming soon! <%= Emoji.find_by_alias("tada").raw %>
</h3>
