<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <% month_names.each do |month| %>
      <span class="col-md-1">
        <%= link_to month.upcase, expenses_path(month: month,
                                                year: current_year) %>
      </span>
    <% end %>
    <div class="text-center grand-total"><p>
      <%= number_to_currency(@grand_total) %>
    </p></div>
  </div>

  <%= render partial: 'expenses' %>
  <div class="text-center"><%= paginate @expenses %></div>
</div>
