<div class="col-md-10 col-md-offset-1">
  <div class="col-md-12">
    <div class="text-center grand-total"><p>
      <%= number_to_currency(@grand_total) %>
    </p></div>
  </div>

  <%= render partial: 'expenses' %>
  <div class="text-center"><%= paginate @expenses %></div>
</div>
